# permissions for end users to view onepassworditems.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: onepassworditem-viewer-role
rules:
- apiGroups:
  - onepassword.onepassword.com
  resources:
  - onepassworditems
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - onepassword.onepassword.com
  resources:
  - onepassworditems/status
  verbs:
  - get
